<%- include ('partials/header') -%>

<div class="row">
  <div class="col">
    <div class="container">
      <div class="box">
        Contact:
        <h1>Good <%= timeOfDay %>, but <%= homeContent %></h1>
      </div>
    </div>
  </div>

  <div class="col">

  </div>
</div>



<%- include ('partials/footer') -%>
